@import '../../styles/sass/mixins';

.feature0 {

  height: 100%;
  width: 100%;
  @include flex;
  flex-direction: column;

  & h2{
    margin-bottom: 5%;
    color: #F0F0F0;
  }



  .common{
    width: 100%;
    @include flex;
    flex-wrap: wrap;
    .input_wrapper{
      margin-left: 5%;
      margin-bottom: 10%;
    }

    .btn_wrapper {
      margin-left: 5%;
      margin-bottom: 10%;
    }

    .checkbox_wrapper{
      margin-bottom: 10%;

    }
  }

}

